:root {
  --deepBlue: #333447;
  --neutral: #3f3e3e;
  --neutral-7: #f9f9f9;
  --green: #08bd37;
  --deepGray: #989898;
  --gray: #bdbdbd;
  --lightGray: #c4c4c4;
  --black: #000000;
  --dark: #252525;
  --orange: #fff4ea;
}
